.quick-links {
  margin-top: 30px;
}

.quick-links a,
.quick-links a:hover,
.quick-links a:focus {
  color: var(--quick-link-color);
  font-weight: 300 !important;
  font-size: 15px;
  text-decoration: none;
  display: block;
  float: right;
  text-align: right;
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid var(--quick-link-border-color);
}

.quick-links a strong,
.quick-links a:hover strong,
.quick-links a:focus strong {
  font-weight: 500;
  display: block;
}

.quick-links a:last-child,
.quick-links a:hover:last-child,
.quick-links a:focus:last-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.simple-nav {
  margin-top: 20px;
  position: relative;
}

.cart-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  background: var(--background-color);
  z-index: 10;
  max-width: 400px;
  right: 0;
  max-height: 54.5vh;
  padding: 2.5vh;
  box-shadow: 0 5px 30px -10px var(--color-black);
}

.cart-dropdown.active {
  display: block;
}

.cart-dropdown h3 {
  border-bottom: 1px solid var(--cart-dropdown-color);
  border-top: 1px solid var(--cart-dropdown-color);
  padding: 10px 0;
  margin-top: 2.25vh;
  height: 4.5vh;
  font-weight: 600;
  margin-bottom: 2.25vh;
}

.cart-dropdown a,
.cart-dropdown a:hover,
.cart-dropdown a:focus {
  color: var(--header-background-color) !important;
  background: var(--quick-link-color);
  text-align: center;
  display: block;
  width: 100%;
  line-height: 4vh !important;
  height: 4vh !important;
  text-transform: uppercase;
}

.cart-dropdown h2 {
  font-size: 12px;
  color: var(--quick-link-color);
  position: relative;
  padding-right: 20px;
  margin-bottom: 10px;
}

.cart-dropdown h4 {
  font-size: 13px;
}

.cart-dropdown h2 a,
.cart-dropdown h2 a:hover,
.cart-dropdown h2 a:focus {
  color: var(--header-background-color) !important;
  background: var(--cart-dropdown-title-color);
  text-align: center;
  display: block;
  width: 15px;
  line-height: 15px !important;
  height: 15px !important;
  text-transform: uppercase;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

.cart-dropdown>div {
  max-height: 36.5vh;
  overflow: hidden;
}

.cart-dropdown>div .row+.row {
  border-top: 1px solid var(--cart-dropdown-color);
  margin-top: 10px;
  padding-top: 10px;

}

.simple-nav a,
.simple-nav a:hover,
.simple-nav a:focus {
  color: var(--quick-link-color);
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  display: block;
  float: right;
  line-height: 20px;
  height: 20px;
}

.simple-nav a img,
.simple-nav a:hover img,
.simple-nav a:focus img {
  position: relative;
  top: -3px;
}

.simple-nav a.share-open,
.simple-nav a:hover.share-open,
.simple-nav a:focus.share-open {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid var(--quick-link-border-color);
}

.simple-nav a.cart-open img,
.simple-nav a:hover.cart-open img,
.simple-nav a:focus.cart-open img {
  margin-left: 10px;
  width: 15px;
}

.search-form-mobile {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  padding: 0 !important;
  left: 0;
  z-index: 4;
  top: 100%;
}

.search-form-mobile.active {
  height: 45px;
}

.search-form-mobile input {
  border-radius: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-size: 15px;
  font-weight: 300;
  color: var(--header-background-color) !important;
  line-height: 45px;
  background: var(--search-form-mobile) !important;
  padding: 0 15px;
}

.search-form-mobile input::-webkit-input-placeholder,
.search-form-mobile input::-moz-placeholder,
.search-form-mobile input:-ms-input-placeholder,
.search-form-mobile input:-moz-placeholder {
  color: var(--color-white);
}

.search-form-mobile button {
  position: absolute;
  top: 5px;
  right: 1%;
  bottom: 5px;
  padding: 0 25px;
  border: none;
  background: var(--header-background-color);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.search-form-mobile .close-search,
.search-form-mobile .close-search:hover,
.search-form-mobile .close-search:focus {
  position: absolute;
  right: 8px;
  top: 10px;
}

.sticky-header.stick-me.sticking {
  width: 100%;
  background: var(--header-background-color);
  z-index: 10;
  box-shadow: 1px 1px 33px 7px #cccccc;
}

.sticky-header.stick-me.sticking .logo img {
  max-width: 75%;
}

.sticky-header.stick-me.sticking .quick-links a strong,
.sticky-header.stick-me.sticking .quick-links a:hover strong,
.sticky-header.stick-me.sticking .quick-links a:focus strong {
  display: none;
}

.sticky-header.stick-me.sticking .logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sticky-header.stick-me.sticking .quick-links {
  margin-top: 20px;
}

.sticky-header.stick-me.sticking nav a,
.sticky-header.stick-me.sticking nav a:hover,
.sticky-header.stick-me.sticking nav a:focus {
  font-size: 15px;
  line-height: 35px;
}

.sticky-header.stick-me.sticking .search-form input {
  line-height: 35px;
}

.sticky-header.stick-me.sticking .search-form button {
  line-height: 35px;
}

nav {
  /* border-top: 1px solid #161a60; */
  /* background: #161a60; */
  /* background: #f8f8f8; */
  background: #161a60;
}

nav a,
nav a:hover,
nav a:focus {
  /* color: #181818; */
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  float: left;
  line-height: 45px;
  padding: 0 15px;
}

nav a.close-search,
nav a.close-search:hover,
nav a.close-search:focus {
  padding: 0 18px;
}

nav a.mego-open,
nav a.mego-open:hover,
nav a.mego-open:focus {
  /* color: #00a536; */
  /* color: #29bdf7; */
  color: #159fda;
  font-weight: 600 !important;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
}

.search-form {
  /* background: #0e417a; */
  background: #434899;
  padding-right: 30px;
}

.search-form input {
  border-radius: 0;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  font-size: 15px;
  font-weight: 300;
  color: var(--color-white);
  line-height: 45px;
  background: transparent !important;
  padding: 0 15px;
  width: 90%;
  float: left;
}

.search-form input,
.search-form input::-webkit-input-placeholder,
.search-form input::-moz-placeholder,
.search-form input:-ms-input-placeholder,
.search-form input:-moz-placeholder {
  color: var(--color-white);
}

.search-form button {
  border: none;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  width: 10%;
  float: left;
  line-height: 45px;
}

.close-search,
.close-search:hover,
.close-search:focus {
  position: absolute;
  right: 0;
  top: 0;
}

.fixed-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #161a60;
  height: 60px;
  line-height: 60px;
  z-index: 10;
}

.fixed-bottom-nav a,
.fixed-bottom-nav a:hover,
.fixed-bottom-nav a:focus {
  text-decoration: none;
  height: 40px;
  margin-top: 10px;
}

.fixed-bottom-nav a + a {
  border-left: 1px solid #434899;
}

.fixed-bottom-nav a img {
  display: block;
  margin: 3px auto 5px auto;
  max-width: 22px;
}

.fixed-bottom-nav a span {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--color-white);
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
}

.fixed-bottom-nav a i {
  position: absolute;
  background: #24e317;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  font-size: 11px;
  border-radius: 50%;
  top: -5px;
  right: 20px;
  color: var(--color-white);
}

.mobile-nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 101;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  bottom: 0;
  background: #161a60;
  z-index: 2;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  z-index: 102;
}

.mobile-nav.active {
  left: 15%;
}

.mobile-nav h3 {
  display: block;
  width: 100%;
  padding: 0 20px;
  float: left;
  line-height: 45px;
  min-height: 45px;
  background: #003a70;
  color: var(--color-white);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300 !important;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  z-index: 10;
}

.mobile-nav h3 span {
  display: block;
  float: right;
  cursor: pointer;
}

.mobile-nav a,
.mobile-nav a:hover,
.mobile-nav a:focus {
  display: block;
  width: 100%;
  padding: 0 15px 0 30px;
  float: left;
  line-height: 45px;
  border-bottom: 1px solid #4d88c0;
  color: var(--color-white);
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
}

.mobile-nav a.open-level-2,
.mobile-nav a.open-level-2:hover,
.mobile-nav a.open-level-2:focus {
  font-weight: 700;
  text-transform: uppercase;
}

.mobile-nav a img {
  float: right;
  margin-top: 12.5px;
}

.mobile-nav .soc-links a,
.mobile-nav .soc-links a:hover,
.mobile-nav .soc-links a:focus {
  display: block;
  width: 32px;
  padding: 0;
  float: left;
  line-height: 32px;
  border-bottom: none;
  color: var(--color-white);
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  border-radius: 50%;
  margin-top: 25px;
  text-align: center;
  margin-right: 10px;
}

.first-nav {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 45px;
  position: relative;
  top: -45px;
}

.level {
  top: 45px;
  position: absolute;
  background: #161a60;
  bottom: 0;
  right: 0;
  left: 100%;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.level.active {
  left: 0%;
}

.close-level,
.close-level:hover,
.close-level:focus {
  background-color: #cccccc !important;
  color: #505050 !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
}

.close-level img {
  float: left !important;
  margin-right: 15px;
}

.search-form input,
nav,
nav form,
nav .navigation {
  line-height: 45px;
  max-height: 45px;
  height: 45px;
  overflow-y: hidden;
}

@media (max-width: 1440px) {
  .sticky-header.stick-me.sticking .quick-links {
    margin-top: 10px;
  }

  .cart-dropdown a,
  .cart-dropdown a:hover,
  .cart-dropdown a:focus {
    line-height: 5vh !important;
    height: 5vh !important;
  }

  .cart-dropdown h3 {
    height: 6.5vh;
  }

  .sticky-header.stick-me.sticking nav a,
  .sticky-header.stick-me.sticking nav a:hover,
  .sticky-header.stick-me.sticking nav a:focus {
    font-size: 13px;
  }

  .open-search img {
    max-width: 17px;
  }
}

@media (max-width: 1199px) {
  .mega-menu h2 {
    min-height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .mega-menu ul li a,
  .mega-menu ul li a:hover,
  .mega-menu ul li a:focus {
    font-size: 12px !important;
  }
}

@media (max-width: 991px) {
  .sticky-header.stick-me.sticking .logo img {
    max-width: 100%;
  }

  .sticky-header.stick-me.sticking .logo {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
