footer ul {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  line-height: 20px;
}

footer ul li {
  display: block;
  float: left;
  width: 100%;
}

footer ul li a,
footer ul li a:hover,
footer ul li a:focus {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

footer div>a,
footer div>a:hover,
footer div>a:focus,
.footer-socials a,
.footer-socials a:hover,
.footer-socials a:focus {
  display: block !important;
  float: left;
  width: 40px;
  text-align: center;
  line-height: 40px !important;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-socials .col-12 {
  text-align: center;
}

.footer-socials a,
.footer-socials a:hover,
.footer-socials a:focus {
  margin: 20px 10px 0 10px;
  display: inline-block !important;
  float: none;
}

@media (max-width: 991px) {
  footer ul {
    display: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b75bb;
  }

  footer ul li {
    margin-bottom: 5px;
  }

}
