/* Update to Alert message block */
.alert {
  display: block;
  height: auto;
}

.fa.fa-times {
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.elementFadeOut {
  animation-name: fadeOut;
  animation-duration: 618ms;
  animation-direction: normal;
  animation-iteration-count: 1;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}
