/* GENERAL STYLES */
/* body,
html {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 100vh;
    overflow-x: hidden;
}

body * {
    font-family: 'Raleway', sans-serif;
}

body strong {
    font-weight: bold;
}

.padding-0 {
    padding: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.relative {
    position: relative;
}

.vault-content {
    float: right;
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    padding: 0;
}

img.img-responsive.img_preview_footer_logo.no-img {
    max-width: 50%;
}

.dd-selected {
    padding: 0 15px !important;
    line-height: 50px;
    height: 50px;
}

.dd-selected label,
.dd-option label {
    margin-bottom: 0px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
}

.dd-option label {
    color: #313131;
}

.dd-select {
    width: 100% !important;
    background: rgb(245, 245, 245) !important;
    border: none !important;
}

.dd-container {
    width: 100% !important;
}

.dd-options {
    width: 100% !important;
}

.dd-option {
    text-decoration: none !important;
}

.form-group a.remove-image.btn {
    font-weight: 700;
    letter-spacing: calc(1em * (25 / 1000));
    margin-top: 1.5rem;
}

.form-group a.remove-image.btn:hover,
.form-group a.remove-image.btn:active,
.form-group a.remove-image.btn:focus {
    color: #337ab7;
    text-decoration: none;
    box-shadow: none;
}

@media (max-width: 1440px) {
    .vault-content {
        max-width: 100vw;
        padding-left: 17vw;
    }
}

@media (max-width: 1024px) {
    .vault-content {
        max-width: 100vw;
        padding-left: 20vw;
    }

    .header-content>a,
    .header-content>a:hover,
    .header-content>a:focus,
    .header-content>a>*,
    .header-content>a:hover>*,
    .header-content>a:focus>* {
        margin-right: 15px !important;
        font-size: 14px !important;
    }

    .header-content>a>i,
    .header-content>a:hover>i,
    .header-content>a:focus i {
        font-size: 35px !important;
    }

    .header-content>div a.hamburger,
    .header-content>div a.hamburger:hover,
    .header-content>div a.hamburger:focus {
        display: none;
    }

    .tab-container a.add-btn,
    .tab-container a.add-btn:hover,
    .tab-container a.add-btn:focus {
        max-width: 25vw !important;
        width: auto !important;
    }
}

@media (max-width: 991px) {
    .padding-left-0 {
        padding-right: 0;
    }

    .padding-right-0 {
        padding-left: 0;
    }

    .header-content>a>i,
    .header-content>a:hover>i,
    .header-content>a:focus i {
        font-size: 18px !important;
    }

    .header-content>div a.hamburger,
    .header-content>div a.hamburger:hover,
    .header-content>div a.hamburger:focus {
        display: none;
    }

    .dashboard_main {
        background-position: top left 21vw !important;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
    }
}

@media (max-width: 768px) {
    .vault-content {
        max-width: 100vw;
        padding-left: 30vw;
    }

    .dashboard_main {
        background-position: top left 0.5rem !important;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
    }

    .header-content>div a.hamburger,
    .header-content>div a.hamburger:hover,
    .header-content>div a.hamburger:focus {
        display: block;
        margin-top: 4.5rem !important;
    }

    .header-content>a>i,
    .header-content>a:hover>i,
    .header-content>a:focus i {
        font-size: 28px !important;
    }
}

@media (max-width: 768px) and (orientation: landscape) {

    .header-content>a>i,
    .header-content>a:hover>i,
    .header-content>a:focus i {
        font-size: 20px !important;
    }
}

@media (max-width: 767px) {
    .vault-content {
        max-width: 100vw;
        padding-left: 0;
    }

    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        line-height: 35px !important;
    }

    .tab-container a:first-of-type,
    .tab-container a:first-of-type:hover,
    .tab-container a:first-of-type:focus {
        line-height: 34px !important;
    }

    .function-button {
        max-width: 20% !important;
    }

    .tab-container a.add-btn,
    .tab-container a.add-btn:hover,
    .tab-container a.add-btn:focus {
        max-width: 25vw !important;
        width: auto !important;
    }

    .header-content>div a.hamburger span,
    .header-content>div a.hamburger:hover span,
    .header-content>div a.hamburger:focus span {
        width: 40px !important;
        height: 5px !important;
        margin-bottom: 7px !important;
    }

    .header {
        height: 7vh !important;
    }

    .header-content {
        height: 7vh !important;
    }

    .header-content>div a,
    .header-content>div a:hover,
    .header-content>div a:focus {
        height: 7vh !important;
        line-height: 7vh !important;
    }

    .header-content>a,
    .header-content>a:hover,
    .header-content>a:focus,
    .header-content>a span,
    .header-content>a:hover span,
    .header-content>a:focus span {
        line-height: 7vh !important;
    }

    .header-content>div a.hamburger,
    .header-content>div a.hamburger:hover,
    .header-content>div a.hamburger:focus {
        margin-top: 0.5rem !important;
    }

    .side-nav {
        top: 7vh !important;
        height: 93vh !important;
    }
}
*/


/* GENERAL STYLES */
body,
html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
}

strong {
  font-weight: bold;
}

.padding-0 {
  padding: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.relative {
  position: relative !important;
}

/* VAULT STYLES */
.vault-content {
  float: left;
  width: 100%;
  min-height: 90vh;
  overflow: hidden;
  padding-left: 15vw;
}

img.img-responsive.no-img {
  max-width: 33.33333%;
}

.dd-selected {
  padding: 0 15px !important;
  line-height: 50px;
  height: 50px;
}

.dd-selected label,
.dd-option label {
  margin-bottom: 0px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
}

.dd-option label {
  color: #313131;
}

.dd-select {
  width: 100% !important;
  background: rgb(245, 245, 245) !important;
  border: none !important;
}

.dd-container {
  width: 100% !important;
}

.dd-options {
  width: 100% !important;
}

.dd-option {
  text-decoration: none !important;
}

.form-group a.remove-image.btn {
  font-weight: 700;
  letter-spacing: calc(1em * (25 / 1000));
  margin-top: 1.5rem;
}

.form-group a.remove-image.btn:hover,
.form-group a.remove-image.btn:active,
.form-group a.remove-image.btn:focus {
  color: #337ab7;
  text-decoration: none;
  box-shadow: none;
}


.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-table {
  display: table !important;
}

.d-table-row {
  display: table-row !important;
}

.d-table-cell {
  display: table-cell !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-table {
    display: table !important;
  }

  .d-sm-table-row {
    display: table-row !important;
  }

  .d-sm-table-cell {
    display: table-cell !important;
  }

  .d-sm-flex {
    display: flex !important;
  }

  .d-sm-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-table {
    display: table !important;
  }

  .d-md-table-row {
    display: table-row !important;
  }

  .d-md-table-cell {
    display: table-cell !important;
  }

  .d-md-flex {
    display: flex !important;
  }

  .d-md-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-inline {
    display: inline !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-table {
    display: table !important;
  }

  .d-lg-table-row {
    display: table-row !important;
  }

  .d-lg-table-cell {
    display: table-cell !important;
  }

  .d-lg-flex {
    display: flex !important;
  }

  .d-lg-inline-flex {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-inline {
    display: inline !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-table {
    display: table !important;
  }

  .d-xl-table-row {
    display: table-row !important;
  }

  .d-xl-table-cell {
    display: table-cell !important;
  }

  .d-xl-flex {
    display: flex !important;
  }

  .d-xl-inline-flex {
    display: inline-flex !important;
  }
}

@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}


/* _mrg */
/* MEDIA QUERIES */
@media (max-width: 1440px) {
  .vault-content {
    padding-left: 17vw;
  }
}

@media (max-width: 1024px) {
  .vault-content {
    padding-left: 20vw;
  }
}

@media (max-width: 991px) {
  .padding-left-0 {
    padding-right: 0;
  }

  .padding-right-0 {
    padding-left: 0;
  }

  .dashboard_main {
    background-position: top left 21vw !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }
}

@media (max-width: 768px) {
  .vault-content {
    padding-left: 30vw;
  }

  .dashboard_main {
    background-position: top left 0.5rem !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
  }
}

@media (max-width: 767px) {
  .vault-content {
    padding-left: 0;
  }
}
