/**
 * Variables set for the header
 */

/*header*/
:root {
  --quick-link-color: #161a60;
  --header-background-color: #ffffff;
  --quick-link-border-color: #161a60;
  --color-black: #000000;
  --color-white: #ffffff;
  --cart-dropdown-color: #cccccc;
  --cart-dropdown-title-color: #c7c7c7;
  --cart-open-color: #00a1e0;
  --mobile-controller-border-color: #3882c7;
  --search-form-mobile: #003363;
  --search-form-background-color: #434899;
}
