header {
  background: var(--header-background-color);
}

.logo,
.logo:hover,
.logo:focus {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sticky-header.stick-me.sticking .logo img {
  max-width: 75%;
}

.profile-name-text,
.profile-name-text:hover,
.profile-name-text:focus {
  text-transform: none !important;
}

.cart-open.active,
.cart-open.active:hover,
.cart-open.active:focus {
  color: var(--cart-open-color) !important;
}

.login-link,
.login-link:hover,
.login-link:focus {
  padding: 0 30px 0 0;
  margin-right: 20px;
  font-weight: 400 !important;
}

.login-link+.login-link {
  border-right: 1px solid var(--quick-link-border-color);
}

.header-block {
  margin-bottom: 30px;
}

.mobile-controller {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 60%;
}

.mobile-controller a,
.mobile-controller a:hover,
.mobile-controller a:focus {
  float: right;
  display: flex;
  height: 100%;
  border-left: 1px solid var(--mobile-controller-border-color);
  text-decoration: none;
  vertical-align: middle;
  padding-left: 20px;
  margin-left: 15px;
  padding-right: 0;
  margin-right: 5px;
}

.no-min-height,
.no-min-height * {
  min-height: 0;
}

.soc-links {
  padding: 0 30px;
}

@media (max-width: 1440px) {
  .header-block {
    margin-bottom: 20px;
  }

  nav a,
  nav a:hover,
  nav a:focus {
    font-size: 13px;
  }

  .logo,
  .logo:hover,
  .logo:focus {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 40%;
  }

  .mobile-controller {
    display: block;
  }
}

@media (max-width: 1200px) {

  nav a,
  nav a:hover,
  nav a:focus {
    padding: 0 15px;
  }

}

@media (max-width: 992px) {
  nav {
    display: none;
  }

  body {
    padding-bottom: 60px;
  }

  header .share-open img {
    max-width: 85%;
  }

  header {
    background: var(--quick-link-color);
  }

  .header-block {
    display: none;
  }
}
