/**
 * Adding this in order to get the thing to work
 */


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  font-size: 16px;
}

.visible-android {
  display: none;
}

.visible-ios {
  display: none;
}

.on-device .visible-android,
.on-device .visible-android {
  display: inherit;
}

.device-ios .visible-android {
  display: none !important;
}

.device-ios .hidden-ios {
  display: none !important;
}

.device-android .hidden-android {
  display: none !important;
}

.device-android .visible-ios {
  display: none !important;
}

.parsley-errors-list li {
  background: #ff0000;
  line-height: 23px;
  width: 100%;
  float: left;
  padding: 0 5px;
  border-radius: 3PX;
  color: #ffffff;
  font-size: 11px;
}

.parsley-errors-list {
  display: block;
  float: left;
  width: 100%;
  padding-left: 0;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  color: #555555;
  display: block;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.confirm-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.confirm-modal {
  display: none;
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 140px;
  width: 450px;
  background: #ffffff;
  padding: 20px 40px;
}

.confirm-button,
.confirm-button:hover,
.confirm-button:focus {
  display: block;
  float: left;
  line-height: 30px;
  color: #ffffff;
  background: #12529b;
  width: 25%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5%;
}

.deny-button,
.deny-button:hover,
.deny-button:focus {
  display: block;
  float: left;
  line-height: 30px;
  color: #ffffff;
  background: #39baed;
  width: 25%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5%;
}

h1 a,
h1 a:hover,
h1 a:focus {
  font-weight: 400;
  font-size: 15px;
  color: #555555;
  display: block;
  text-decoration: none;
}

h1 a i {
  font-size: 16px !important;
  margin-left: 10px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  color: #555555;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  color: #555555;
  display: block;
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}


@media (max-width: 1199px) {
  p {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .information-sub-pages-nav {
    display: none;
  }

  h2 {
    margin-top: 0px;
    color: #0360b7;
    font-weight: 700;
  }

  h3 {
    margin-top: 0px;
  }

  .information-articles>.row {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
}

nav {
  /* border-top: 1px solid #161a60; */
  /* background: #161a60; */
  /* background: #f8f8f8; */
  background: #161a60;
  color: #ffffff;
}
.search-form {
/* background: #0e417a; */
background: var(--search-form-background-color);
padding-right: 30px;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

ul {
  position: relative;
  zoom: 1;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  display: block;
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-weight: 300 !important;
  font-size: 14px;
  color: #555555;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

li,
td {
  font-weight: 300 !important;
  font-size: 15px;
  color: #555555;
}

.table td,
.table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e4e4e4;
  border: 1px solid #e4e4e4;
}

.row-reverse {
  flex-direction: row-reverse;
}

b,
strong {
  font-weight: 700;
}


