footer {
  background: #161a60;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 100px;
}

footer>.row {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer h3 {
  display: block;
  float: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 991px) {
  footer>.row {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  footer h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px solid #2b75bb;
    position: relative;
    font-size: 14px;
  }

  footer h3:after {
    content: url('/assets/images/template/downarrow-white.svg');
    position: absolute;
    top: 0px;
    right: 10px;
    transform: scale(0.8);
  }

  footer h3.active:after {
    content: url('/assets/images/template/uparrow-white.svg');
  }

  footer {
    padding-top: 3px;
    padding-bottom: 0;
    margin-top: 20px;
  }
}
